body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  background-color: #8fbde2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

div.header-wrapper {
  padding: 20px;
  text-align: center;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

header img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline;
  margin: 0 15px;
}

ul li a {
  text-decoration: none;
}

a {
  color: #1a2c52;
}

section.project-item {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 3em;
  padding: 1em 2em;
  border: 1px solid;
  border-radius: 10px;
}

section.project-item h2 {
  margin-top: 0;
}

footer {
  text-align: center;
  padding: 10px;
  width: 100%;
}
